.main-tbls{
    width: 95vw;
    max-width: 600px;
    min-height:100px;
    display: flex;
    flex-direction: column;
}

.main-navs{
    padding: 20px;
    display: flex;
    width: 90vw;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    flex-direction: column;
}

.navbar{
    padding: 20px;
    font-size: 1.1rem;
}
.main-navs a{
    color: grey;
}
.nav1 {
    transform: scale(1.5);
}
.moviesSpan a{
    text-decoration: none;
    color: black;
}

.moviesSpan a:hover{
    color: blue;
    text-decoration: underline;
}
.movie-form{
    display: flex;
    flex-direction: column;
}

.movie-form button{
    width: 200px;
    color: white;
    background-color: blue;
    border: none;
    padding: 7px;
    border-radius: 10px;
    align-self: center;
}
h2{
    margin-top: 20px;
    text-align: center;
}
.mainnav{
    display: flex;
    font-size: 1.2rem;
    list-style: none;
}

.ls{
    font-size: 1.25rem;
    text-decoration: none;
}
.flexBod{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
   flex-direction: column;
   gap: 50px;
}
@media screen and (min-width:700px) {
    .flexBod{
        flex-direction: row;
    }
    .list-group{
       align-self: flex-start;
    }
}
.headermain{
    text-align: center;
}
h2{
  margin-bottom: 30px;
}
.trone{
    border-top: solid 1px rgb(148, 144, 144) ;
    border-bottom: rgb(148, 144, 144) solid 2px;
}
.trone th{
    padding: 10px 10px;
}

.btn:hover{
    background-color: rgb(100, 20, 20);
}


img{
    width: 25px;
    height: 25px;
}


.Page{
    align-self: center;
}

.icons{
    color: rgb(172, 171, 171);
}

.bgColor{
    color: black;
}

.clickable{
    cursor: pointer;
}

.loginform{
    margin: 50px auto;
    width: 80vw;
    max-width:450px;
    border-radius: 10px;
    border: 2px solid rgb(230, 221, 221);
    padding: 60px;
}

.loginform h2{
    margin-top: 0;
}
.form-group{
    margin-bottom: 10px;
}
.form-check{
    margin-bottom: 10px;
}

.red{
    color: red;
}

.header-center{
    display:flex;
    flex-direction: column;
}

.header-center button{
    width:fit-content;
    align-self: center;
    color: white;
}

.header-center a{
    color: white;
    text-decoration: none;
}

.header-center a:hover {
    color: white;
}

.inputHome{
    display: inline-flex;
    align-self: center;
    margin: 20px 0;
}

.inputHome input{
    width: 80vh;
    padding: 7px;
    max-width: 400px;

}

.inputHome input:focus{
    outline: none;
}

.options-div{
    display: flex;
    flex-direction: column;
}

.options-div select{
    border-color: lightgray;
    padding: 5px;
    margin-bottom: 7px;
    border-radius: 4px;
}

.options-div select, .options-div select:focus,.options-div select:active {
  outline: none;

}

@media screen and (min-width: 600px){
    .main-navs{
        flex-direction: row;
        justify-content: center;
    }
    .nav1 {
        transform: scale(1.5);
        margin-right: 80px;
        color: blue;
    }
}